
*{
    margin: 0;
    padding: 0;
    
}
nav{
    width: 100%;
    height:13vh;
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
    border-bottom: 1px solid lightgrey;
}
.logo{
    display: flex;
    height: 5vh;
}
img{
    
    width: 10vw;
    height:17vh;
    color: transparent;
    background-color: white;
    margin-top: 0.1vh;
}
.bar{
   
    display: flex;
    flex-direction: row;
    gap:40px;
    margin-top: 6vh;
    margin-left: -13vw;
  
}
a{

text-decoration: none;
font-size: 12px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(85, 82, 82);
font-weight: bold;

}
.searchbar{
    height: 30px;
    width: 27%;
    border: 2px solid white;
    background-color: white;
    margin-top: 4.5vh;
    margin-left: -10vw;
    display: flex;
    flex-direction:row
    
}
.search{
   
    height: 20px;
    width:20px;
   margin-left: 10px;
   margin-top: 3px;
}
input{
    border: 2px solid transparent; 
    width: 310px; 
    margin-left: 3vw;
}
.icons{
    height:43px;
    width: 200px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    border: 2px solid transparent;
    margin-left: -25vh;
    margin-right: 10px;
    margin-top: 3vh;
    background-color: transparent;
   
}
.profile{
    height: 23px;
    width: 25px;
   
}
.wishlist{
    height: 28px;
    width: 27px;
  
}
.bag{
    height: 23px;
    width: 25px;
   
}

.p{
   align-self: flex-end;
   margin-left: -55px;
   font-size:13px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 600;
   
}
.w{
     align-self: flex-end;
   margin-left: -58px;
   font-size:13px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 600;
  
}
.b{
    align-self: flex-end;
   margin-left: -48px;
   font-size:13px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 600;
  
}
.menlist{
    position: absolute;
    z-index: 1;
    overflow: hidden;
    height:0px;
    width: 0px;
    transition: height 0.3s ease-in ;
}
#men{
    position: relative;
    z-index: 10;
}

#men:hover{
.menlist{
    height: 460px;
    width: 80vw;
    background-color: whitesmoke;
    border: 2px solid lightgrey;
    position: absolute;
    z-index: 100;
    top: 7vh;
    left:0vw;
overflow: visible;

}
h3{ color: red;}
table{
    position: absolute;
    z-index: 1;
}
}
.for_border:hover{
border-bottom: 2px solid red ;
padding: 4px 0px 4px 0px;
}
main{
    position: relative;
    z-index: 0;
}
.banner{ 
    position: absolute;
    top: 20vh;
    left: 0vh;
    z-index: 0;
    height: 60vh;
    width: 100vw;
    background-color: transparent;
    
}
.bannerimg{
     position: absolute;
    height: 60vh;
    width: 100vw;
    opacity: 0.9;
    z-index: 0;
/* visibility: hidden; */
}
#medal{
    position: absolute;
    top: 95vh;
    left: 2vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: rgb(95, 99, 99);
}
.pics{
    position: absolute;
    top: 110vh;
    left : 0vw;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: transparent;
}
.pic{
    height: 50vh;
    width: 20vw;
}
#shop{
     position: absolute;
    top: 270vh;
    left: 2vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: rgb(95, 99, 99);
}
.categorypic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    top: 284vh;
    height: 70vh;
    width: 100vw;
    background-color: transparent;
}
.pic2{
height: 50vh;
width: 20vw;
}
.container{
    position: absolute;
    top: 410vh;
    left: 10vw;
    background-color: transparent;
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    border-top: 2px solid whitesmoke;
}
.box1{
    position: relative;
    border: 2px solid transparent ;
    height: 70vh;
    width: 15vw;
}
.para{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    display: block;
    margin-bottom: 1vh;
    font-weight: 500;
    color: rgb(80, 76, 76);
}
.box2{
    position: relative;
    border: 2px solid transparent;
    height: 70vh;
    width: 15vw;
}
.box3{
    position: relative;
    border: 2px solid transparent;
    height: 70vh;
    width: 25vw;
}
.box4{
    position: relative;
    border: 2px solid transparent;
    height: 45vh;
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.i1{ 
    position: relative;
    align-self: flex-start;
   margin-top: 8vh;
   margin-left: 3vw;
}
.i2{
    position: relative;
    align-self: center;
    margin-left: -19.5vw;
    margin-top: 20vh;
}
.app{
    height: 6vh;
    width: 4vw;
    margin-top: 3vh;

}

@media  screen  and (max-width:900px) {
nav{
flex-wrap: wrap;
padding :10px;

}
.bar{
    display: none;
}
.searchbar{
    order: 3;
    width: 60%;
    margin-top: 0vh;
    margin-left: 20vw;
    flex-shrink: 1;
}
.icons{
    margin: 0;
    gap: 20px;
}
.i2{
    margin-top: 50vh;
    margin-left: -35vw;
}
}
